.gifDiv{
	float: left;
	position: relative;
	margin: 10px 20px;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}
#animal-form{
    float: right;
}

body {
	background-image: url("../images/light_grey.jpg");
	background-color: #cccccc;
 }


